@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,700&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: 'Bodoni Moda', serif;
}

h1 {
  font-weight: bold;
}

#menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 99;
}

#menu > a {
  display: inline-block;
  margin: .5rem;
  border: 1px solid black;
  padding: .5rem 1rem;
  color: black;
  text-decoration: none;
  transition-duration: .5s;
}

#menu > a:hover {
  color: white;
  background-color: black;
}

#audioPlayer {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  opacity: .5;
  transition-duration: .5s;
  z-index: 99;
}

#audioPlayer:hover {
  opacity: 1;
}

.section {
  text-align: center;
}

.section > div {
  padding: 16px;
}

.section.home {
  background-image: url("/numoirice-art/images/bg_about.jpg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}

.section.home > div {
  padding-right: 4rem;
  text-align: right;
}

#homeMenu > a {
  display: block;
  margin-bottom: .25rem;
  color: black;
  text-decoration: none;
}

.section.about {
  background-image: url("/numoirice-art/images/bg_home.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.section.about > div {
  padding-left: 4rem;
  text-align: left;
}

.section.about > div > div {
  margin-bottom: .25rem;
}

.section.preview {
  background-image: url("/numoirice-art/images/bg_preview.jpg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}

.section.preview > div {
  padding-left: 4rem;
  text-align: right;
}

.section.mint {
  background-image: url("/numoirice-art/images/bg_mint.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.section.mint > div {
  padding-left: 4rem;
  text-align: left;
}

.section.link {
  background-image: url("/numoirice-art/images/bg_link.jpg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}

.section.link > div {
  padding-left: 4rem;
  text-align: right;
}
